* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: blueviolet; */
}

.pot {
  background-image: linear-gradient(
    358.4deg,
    rgba(249, 151, 119, 1) -2.1%,
    rgba(98, 58, 162, 1) 90%
  );

  height: 8rem;
  width: 25rem;
  border-radius: 9px;
  text-align: center;
  padding: 1rem;
}

h2 {
  margin: 0.7rem 0rem;
}

button {
  background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
  width: 100%;
  padding: 0.7rem;
  border: none;
  border-radius: 8px;
  font-size: medium;
  cursor: pointer;
  font-weight: bold;
}
